# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Environment variables
.env

# Data and Database
chroma_db/
output/
data/images/*
!data/images/.gitkeep

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
